<h1><a href="#" onclick="alert('Hello world!'); return false;">Hello world! (JS version)</a></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= Time.now %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Released on:</b>
  <%= @product.released_on %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category.name %>
</p>

<p>
  <b>Rating:</b>
  <%= @product.rating %>
</p>

<p>
  <b>Discontinued:</b>
  <%= @product.discontinued %>
</p>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<hr>

<a href="#" class="new_review_popup">Add a review</a>

<div id="review-dialog-form" style="display: none" title="Add a review">
  <p>review-dialog-form</p>

  <form>
    <fieldset>
      <div class="field">
        <label for="name">Name</label>
        <br/>
        <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all"/>
      </div>
      <div class="field">
        <label for="content">Content</label>
        <br/>
        <input type="text" name="content" id="content" value="" class="text ui-widget-content ui-corner-all"/>
      </div>
    </fieldset>
  </form>
</div>

<hr>

<div id="review-dialog-form2" style="display: none" title="Add a review (2)">
  <p>review-dialog-form2</p>

  <%= form_for([@product, @product.reviews.build], :html => {:id => "new-review-form"}) do |f| %>
      <div class="field">
        <%= f.label :name %>
        <br/>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :content, "Review" %>
        <br/>
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>

<h3 id="reviews_count"><%= pluralize(@product.reviews.size, "Review") %></h3>

<div id="reviews">
  <%= render :partial => @product.reviews %>
</div>

<hr>

<div id="dialog-form" style="display: none" title="Create new user">
  <p class="validateTips">All form fields are required.</p>

  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="user-name" class="text ui-widget-content ui-corner-all"/>
      <label for="email">Email</label>
      <input type="text" name="email" id="user-email" value="" class="text ui-widget-content ui-corner-all"/>
      <label for="password">Password</label>
      <input type="password" name="password" id="user-password" value="" class="text ui-widget-content ui-corner-all"/>
    </fieldset>
  </form>
</div>

<div id="users-contain" class="ui-widget">
  <h1>Existing Users:</h1>
  <table id="users" class="ui-widget ui-widget-content">
    <thead>
    <tr class="ui-widget-header ">
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>John Doe</td>
      <td>john.doe@example.com</td>
      <td>johndoe1</td>
    </tr>
    </tbody>
  </table>
</div>
<button id="create-user">Create new user</button>


